<!-- chat/templates/chat/group/testing/index.html -->
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Test Group Chat</title>
</head>

<body>
    Who are you and which group would you like to write to?<br>
    <input id="sender-num-input" type="text" size="100"><br>
    <input id="grp-name-input" type="text" size="100"><br>
    <input id="grp-name-submit" type="button" value="Enter">

    <script>
        document.querySelector('#sender-num-input').focus();
        document.querySelector('#sender-num-input').onkeyup = function (e) {
            if (e.keyCode === 13) { // enter, return
                document.querySelector('#grp-name-input').focus();
            }
        };

        document.querySelector('#grp-name-input').onkeyup = function (e) {
            if (e.keyCode === 13) { // enter, return
                document.querySelector('#grp-name-submit').click();
            }
        };

        document.querySelector('#grp-name-submit').onclick = function (e) {
            var msg_from = document.querySelector('#sender-num-input').value;
            var grp = document.querySelector('#grp-name-input').value;
            console.log(`msg_from : ${msg_from}, group name : ${grp}`);
            window.location.pathname = '/chat/group/' + msg_from + '/' + grp + '/';
        };
    </script>
</body>

</html>